# NEXT_PUBLIC_를 붙이거나, next.config에서 설정을 해줘야 client단에서도 확인 가능, 그렇지 않으면 서버단에서만 확인 가능함. 보안적 이유


# https://next-test.rs-team.co.kr/api/auth/callback/~~~ : redirect URL
NEXTAUTH_URL=
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

KAKAO_ID=
KAKAO_SECRET=

FACEBOOK_ID=
FACEBOOK_SECRET=

GITHUB_ID=
GITHUB_SECRET=
# https://github.com/settings/applications/new

GOOGLE_ID=
GOOGLE_SECRET=

TWITTER_ID=
TWITTER_SECRET=
# You currently have Essential access which includes access to Twitter API v2 endpoints only. If you need access to this endpoint, you’ll need to apply for Elevated access via the Developer Portal
# BearerToken=

APPLE_ID=
APPLE_TEAM_ID=
APPLE_PRIVATE_KEY=
APPLE_KEY_ID=

AUTH0_ID=
AUTH0_SECRET=
AUTH0_ISSUER=

KAKAO_JS_KEY=

# EMAIL_SERVER=smtp://username:password@smtp.example.com:587
# EMAIL_FROM=NextAuth <noreply@example.com>

# DATABASE_URL=

GMAIL_ID=
GMAIL_PW=
# AWS_SES_ID=
# AWS_SES_PW=

OK_ID=
OK_PW=@@